*{
    margin: auto;
    padding: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif; 
}
body{
    background-color: #D5E1EF;
}
section{
    background-color: black;
}
div{
    background-color: rgb(255, 254, 254);
    max-width: 238px;
    margin-top: 150px;
    border-radius: 15px;
}
img{
    margin-top: 16px;
    margin-bottom: 20px;
    border-radius: 8px;
}
h1{
    font-weight: 900;
    font-size: 15px;
    margin-bottom: 20px;
    margin-left: 13px;
    margin-right: 13px;
    color: #1F273C;
}
p{
    margin-left: 13px;
    margin-right: 13px;
    text-align: center;
    font-size: 13px;
    padding-bottom: 35px;
    color: #878B94;
}
    
