*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(222, 215, 207);
    display: flex;
    
}


img{
    border-radius: 8px 0px 0px 8px;
   margin-left: 30%;
   margin-top: 10%;
    width: 300px;
    height: 450px;
    
}
.info{
    border-radius:0px 8px 8px 0px ;
    margin-top: 10%;
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 450px;
    
}
.info p{
    margin-bottom: 36px;
    width: 223px;
    margin-top: 25px;
    margin-left: 33px;
}
.info h1{
    width: 191px;
    margin-left: 33px;
}
.info h2{
    margin-left: 33px;
    display: inline-block;
    color: #3D8168;
    
}
.info h5{
    
    display: inline-block;
    margin-left: 30px;
    
   
}
.info button{
    width: 236px;
    height: 48px;
    border-radius: 10px;
    background-color: #3D8168;
    border-style: none;
    margin-left: 33px;
    color: white;
    font-size: 18px;
    margin-top: 20px;
}

